{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h4>Report Dashboard</h4>
        <p>Welcome to your Dashboard, {{ current_user.username }}! This is your personalized dashboard.</p>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="report_period" class="form-label">Report Period</label>
                        <input type="text" class="form-control" id="report_period" name="report_period" required>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="start_date" name="start_date" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date" required>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="team_name_or_project" class="form-label">Team Name or Project</label>
                        <input type="text" class="form-control" id="team_name_or_project" name="team_name_or_project" required>
                    </div>

                    <div class="mb-3">
                        <label for="prepared_by" class="form-label">Prepared By</label>
                        <select id="prepared_by" name="prepared_by[]" class="form-control" required>
                            {% for n in mentors %}
                            <option value="{{ n }}">{{ n }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <hr />

                        <div class="mb-3">
                        <label for="team_members" class="form-label">Team Members</label>
                        <select id="team_members" name="team_members[]" class="form-control" multiple="multiple" required>
                            <!-- Dynamic options to be populated by the backend or JS -->
                            {% for n in members %}
                            <option value="{{ n }}">{{ n }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Container for Dynamic Team Member Contributions -->
                    <div id="contributions_container" class="mb-3">
                        <!-- Inputs for each team member will be appended here -->
                    </div>

                    <hr />

                    <div class="mb-3">
                        <label for="overview" class="form-label">Overview</label>
                        <textarea class="form-control" id="overview" name="overview" rows="3"></textarea>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="sign_off_name" class="form-label">Sign Off Name</label>
                                <input type="text" class="form-control" id="sign_off_name" name="sign_off_name" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="sign_off_position" class="form-label">Sign Off Position</label>
                                <input type="text" class="form-control" id="sign_off_position" name="sign_off_position" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="sign_off_date" class="form-label">Sign Off Date</label>
                                <input type="date" class="form-control" id="sign_off_date" name="sign_off_date" required>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button onclick="handleSubmit();" type="submit" class="btn btn-primary">Submit Report</button>
                </div>
            </div>
        </div>
    </div>

<script>
    var contribution = {};

    $('#team_members').select2({
        placeholder: 'Select team members',
        allowClear: true
    });

    $('#prepared_by').select2({
        placeholder: 'Select team mentor',
        allowClear: true
    });

    $('#team_members').on('change', function() {
        var selectedMembers = $(this).val(); // Get selected members
        var container = $('#contributions_container'); // Container for contributions
        container.empty(); // Clear previous inputs

        selectedMembers.forEach(function(member) {
            container.append(`
                <div class="mb-3">
                    <label for="contribution_${member}" class="form-label">${member}'s Contributions</label>
                    <textarea class="form-control cont" id="contribution_${member}" name="contributions[${member}]" rows="3" required></textarea>
                </div>
            `);

            contribution[member] = ''
        });
    });

    $('#contributions_container').on('input', 'textarea', function() {
        var member = $(this).attr('id').split('_')[1]; // Extract the team member ID
        contribution[member] = $(this).val(); // Save the contribution
    });

    function downloadFile(fileUrl) {
        $.ajax({
            url: fileUrl,
            type: 'GET',
            xhrFields: {
                responseType: 'blob'
            },
            success: function (blob) {
                var link = document.createElement('a');
                var url = window.URL.createObjectURL(blob);
                link.href = url;
                link.download = 'Project_Report.docx';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error('Error: ', error);
            }
        });
    }

    function handleSubmit() {
        var reportData = {
            report_period: $('#report_period').val(),
            start_date: $('#start_date').val(),
            end_date: $('#end_date').val(),
            team_name_or_project: $('#team_name_or_project').val(),
            prepared_by: $('#prepared_by').val(),
            overview: $('#overview').val(),
            team_member_contributions: contribution,
            sign_off_name: $('#sign_off_name').val(),
            sign_off_position: $('#sign_off_position').val(),
            sign_off_date: $('#sign_off_date').val()
        };

        console.log(reportData);


        $.ajax({
            url: "/api/v1/processData",
            type: "POST",
            data: JSON.stringify(reportData),
            contentType: 'application/json',
            success: function(response) {
                downloadFile('/api/v1/downloadPDF');
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>

{% endblock %}
